<h3>User: <%= @user.name %></h3>

<h4>Recommended Products</h4>
<table border=2 padding=10px>
	<tr>
		<th>Item ID</th>
		<th>Item name</th>
		<th>Categories</th>
	</tr>
	<% @recommended_items.first(5).each do |item| %>
	<tr>
		<td><%= item[0].item_id %></td>
		<td><%= item[0].name %></td>
		<td><%= item[0].categories.map{|c| c.name}.join(',') %></td>
	</tr>
	<% end %>
</table>

<h4>Purchases</h4>
<p>
	<ul>
	<% @items.each do |item| %>
		<li><%= item.item_id %>&emsp;
			<%= item.name %>:
			<% item.categories.each do |category| %>
				<%= category.name %>
			<% end %>
		</li>
	<% end %>
	</ul>
</p>
